{% extends 'base.html'%}

{%block title%} Registro diario {%endblock%}

{%block header%}
{%from "_macro.html" import render_field%}
<div id="content-formulario">
	<form method="POST">
	{{ render_field(form.fecha, class='form-control ') }}
	{{ render_field(form.base, class='form-control ') }}
	{{ render_field(form.gastos, class='form-control ') }}
	{{ render_field(form.compras, class='form-control ') }}
	{{ render_field(form.dinero, class='form-control ')}}
	{{ render_field(form.ventas, class='form-control ')}}
	{{ render_field(form.total, class='form-control ') }}
	<button type="submit" class="btn btn-success">Guardar</button>
</form>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Base</th>
			<th>Gastos</th>
			<th>Compras</th>
			<th>Dinero</th>
			<th>Ventas</th>
			<th>Total</th>
		</tr>
	</thead>
	{% for row in rows %}
	<tbody>
		<tr>
			<th>{{ row["fecha"] }}</th>
			<th>{{ row["base"] }}</th>
			<th>{{ row["gastos"] }}</th>
			<th>{{ row["compras"] }}</th>
			<th>{{ row["dinero"] }}</th>
			<th>{{ row["ventas"] }}</th>
			<th>{{ row["total"] }}</th>
		</tr>
	</tbody>
	{% endfor %}
</table>
{%endblock%}